[project]
	description = UDP proxy for kafka
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sasi Kanth Lanka (zlanka)
[access "refs/for/refs/*"]
	read = group user/Sasi Kanth Lanka (zlanka)
	push = group user/Sasi Kanth Lanka (zlanka)
	label-Code-Review = -2..+2 group user/Sasi Kanth Lanka (zlanka)
	label-Verified = -1..+1 group user/Sasi Kanth Lanka (zlanka)
	rebase = group user/Sasi Kanth Lanka (zlanka)
	removeReviewer = group user/Sasi Kanth Lanka (zlanka)
	submit = group user/Sasi Kanth Lanka (zlanka)
[access "refs/heads/*"]
	read = group user/Sasi Kanth Lanka (zlanka)
	create = group user/Sasi Kanth Lanka (zlanka)
	push = +force group user/Sasi Kanth Lanka (zlanka)
	pushMerge = group user/Sasi Kanth Lanka (zlanka)
[access "refs/tags/*"]
	push = +force group user/Sasi Kanth Lanka (zlanka)
	pushTag = group user/Sasi Kanth Lanka (zlanka)
	pushSignedTag = group user/Sasi Kanth Lanka (zlanka)
